*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 15% 85%;
    background-color: #455d7a;
    color: white;
    width: 100vw;
    height: 100vh;
}


.header{
    grid-column:1/3 ;
    background-color: #f95959;
    display: flex;
    width: 100%;
    height: 100%;
}

.menusvg{
    height: 25px;
    width: 25px;
    align-self: center;
    position: relative;
    left: 45px;
    fill: white;
}

.menusvg:hover{
    cursor: pointer;
    fill:rgb(199, 197, 197)
}

.heading{
    color: white;
    font-size: 40px;
    height: min-content;
    align-self: center;
    width: 100%;
    text-align: center;
}

.visible{
    background-color: #233142;
}

.sidebar{
    display:none;
    grid-column: 1/1;
}

.visible{
    background-color: #233142;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 20px;
    padding-top: 100px;
    grid-column: 1/2;
}

.maincontent{
    grid-column: 2/3;
}

.adjustmaincontent{
    grid-column: 1/3;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button{
    font-size: 20px;
    padding: 15px;
    width: calc(80%);
    color: #f95959;
    border-radius: 8px;
    border: 0px;
}

.active{
    background-color: #f95959;
    color: white;
}

.addicondiv{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 20px;
}

.addicondiv>svg{
    width: 30px;
    height: 30px;
}

.addicondiv>svg:hover{
    cursor: pointer;
    fill: gray;
}